doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Node.js with TailwindCSS, Express and Pug
        link(href="./styles/style.css", rel="stylesheet")
        link(href="./styles/custom.css", rel="stylesheet")

    body.bg-black
        nav.p-5.navBg.shadow.pb-8(style="width:100%")
            div
                span.text-2xl
            ul.flex.items-center.justify-center.gap-40(style="width:100%")
                li.mx-12
                    img.inline.w-24.h-24(src="logo2.png")
                li.mx-12
                    a.text-xl.robloxFontMedShadow(href="/") Home
                li.mx-12
                    a.text-xl.robloxFontMedShadow(href="/about") About
                li.mx-12
                    a.text-xl.robloxFontMedShadow(href="#") Projects
                li.mx-12
                    a.text-xl.robloxFontMedShadow(href="#") Nothing
        div.flex.flex-col.bg-gray-900.rounded.shadow-2xl.mx-auto(style="width:60%")
            h2.artisticMed.bold.text-center.text-3xl.shadow.rounded.robloxFont About Me
            div.flex.flex-row.justify-items-center.content-center.justify-center
                div.w-1d2.bg-cover
                    img.shadow.border.border-black.bg-cover(src="Geralt.PNG")
                div.w-1d2
                    div.flex-col(style="height:100%")
                        p.artisticMed(style="height:76%") fwfkewpo fkwiree kjfoiwej wekoweko owjief ojweof jwof jweojf oweij foweijf owjif oewjfoiwejfowei jfwoi ejow ijop fwfkewpo fkwoei kjfoiwej foiejw owjief ojweof jwof jweojf oweij foweijf owjif oewjfoiwejfowei jfwoi ejow ijopfwfkewpo fkwoei kjfoiwej foiejw owjief ojweof jwof jweojf oweij foweijf owjif oewjfoiwejfowei jfwoi ejow ijopfwfkewpo fkwoei kjfoiwej foiejw owjief ojweof jwof jweojf oweij foweijf owjif oewjfoiwejfowei jfwoi ejow ijopfwfkewpo fkwoei kjfoiwej foiejw owjief ojweof jwof jweojf oweij foweijf owjif oewjfoiwejfowei jfwoi ejow ijop
                        div.flex.flex-row.gap-1.content-end
                            div.w1d4
                                img.shadow(src="fly.png")
                            div.w1d4
                                img.shadow(src="fly.png")
                            div.w1d4
                                img.shadow(src="fly.png")
                            div.w1d4
                                img.shadow(src="fly.png")
        div.flex.flex-col.bg-gray-900.static.rounded.shadow-2xl.mx-auto.mt-4(style="width:60%")
            h2.artisticMed.bold.text-center.text-3xl.shadow.rounded.robloxFont Skills
            div.flex.flex-row.gap-8.mx-2
                div.flex.flex-col.w-1d6.justify-center.text-center.items-center(style="width: 120px")
                    p.artisticMed.text-2xl.border-b.border-white.mb-2 Developer
                    div.h-24.w-24
                        img.object-cover(src="devicon1.png" style="width:100%")
                div.flex.flex-col.w-1d6.justify-center.text-center.items-center
                    p.artisticMed.text-2xl.border-b.border-white.mb-2 Team Driven
                    div.h-24.w-24
                        img.object-cover(src="devicon2.png" style="width:100%")
                div.flex.flex-col.w-1d6.justify-center.text-center.items-center
                    p.artisticMed.text-2xl.border-b.border-white.mb-2 Creative
                    div.h-24.w-24
                        img.object-cover(src="devicon3.png" style="width:100%")
                div.flex.flex-col.w-1d6.justify-center.text-center.items-center
                    p.artisticMed.text-2xl.border-b.border-white.mb-2 Logic Driven
                    div.h-24.w-24
                        img.object-cover(src="devicon4.png" style="width:100%")
                div.flex.flex-col.w-1d6.justify-center.text-center.items-center
                    p.artisticMed.text-2xl.border-b.border-white.mb-2 Communicator
                    div.h-24.w-24
                        img.object-cover(src="devicon5.png" style="width:100%")
                div.flex.flex-col.w-1d6.justify-center.text-center.items-center
                    p.artisticMed.text-2xl.border-b.border-white.mb-2 Industriousness
                    div.h-24.w-24
                        img.object-cover(src="devicon6.png" style="width:100%")

