@font-face {
    font-family: "LinuxFont";
    src: url("fonts/Inconsolata-VariableFont_wdth,wght.ttf") format('truetype');
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    95%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes colorIn {
    from {

    }
    to {
        background-color: #3e4b5e;
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-500%);
        transform: translateX(-500%);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-500%);
        transform: translateX(-500%);
    }
    35%{
        -webkit-transform: translateX(-155%);
        transform: translateX(-155%);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}


@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(500%);
        transform: translateX(500%);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(500%);
        transform: translateX(500%);
    }
    35%{
        -webkit-transform: translateX(155%);
        transform: translateX(155%);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}


body {
    overflow: hidden;
}

.linuxFont {
    font-family: 'LinuxFont';
    font-weight: 500;

}

.sectionBG{
    transition-duration: 1250ms;
    transition-delay: 250ms;
    padding-bottom: -200px;
}

.sectionBG:hover{
    background-color: #3e4b5e;
    transition-duration: 1250ms;
    transition-delay: 250ms;
}

.sectionBG:hover .txtShadow{
    transition-duration: 1250ms;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

.title {

}

.txtShadow{
    transition-duration: 1250ms;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);

}

.c{
    transition: transform 0.3s ease-in-out;
}

.p:hover .c{
    transform: scale(1.05);
}

.fade {
    opacity: 0
}

.sectionBG:hover .fade {
    opacity: 1;
    transition-duration: 1250ms;
    transition-delay: 250ms;
}

.borderSleek{
    background-image: url("../border1.png");
    background-size: cover;
}

.borderSleekReversed{
    background-image: url("../border2.png");
    background-size: cover;
}

.projectBackground{
    background-image: url("../hexatest.png");
    background-repeat: repeat;
}

.backgroundCustom{
    background-color: #3e4b5e;
}

.backgroundCustom2{
    background-color: #384453;
}

.bg-gray-900{
    background-color: #212121;
}
.scroll-animation {
    animation: fadeIn 3s ease-in-out;
}

.ls-animation {
    animation: fadeIn2 6s ease-in-out;
}

.background-animation {
    animation: colorIn 3s ease-in-out;
}

.slide-right {
    -webkit-animation: slide-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: slide-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.slide-left {
    -webkit-animation: slide-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: slide-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.texts{ }
.skillsBar{ }
.skillsBar2{ }
.textSpacing{ }
.blinkChar{ }



.mtb {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url("../Game.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.mtb::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--after-background, linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url("../Game.png"));
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 1;
    z-index: -1;
}

.icon{
    height: 32px;
    width: 32px;
}

.minSize{

    height: 30rem;
}
